# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente Virtual
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# YOLO
dataset_treinamento/
dataset/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db



# Arquivos de desenvolvimento local
.env
.env.local
.env.*.local
instance/
.webassets-cache

# Arquivos de modelo

*.pth
*.onnx
*.tflite
*.pb
*.h5


# Banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos de mídia

*.jpg
*.jpeg
*.png
*.gif
*.ico
*.mov
*.mp4
*.wmv
*.avi
*.mkv

# Misc
.AppleDouble
.LSOverride
Desktop.ini
$RECYCLE.BIN/
*.bak
*.swp
*.tmp 